<header>
  <div class="headerForm">
    <img src="assets/img/Logo.png"/>
    <nav class="desktop-links">
      <a class="fromleft" href="#home">Home</a>
      <a href="#aboutMe" >About me</a>
      <a href="#skills" >Skills</a>
      <a href="#projects" >Projects</a>
      <a href="#contact" >Contact</a>
    </nav>
  </div>
  <img (click)="showMediaMenu()" class="burger-menu" src="assets/img/burger-menu.png">
  <div class="mobile-menu" [ngClass]="{'showMediaMenu': !showMenu}">
    <nav class="mobile-links">
      <a href="#home" (click)="showMediaMenu()">Home</a>
      <a href="#aboutMe"(click)="showMediaMenu()">About me</a>
      <a href="#skills" (click)="showMediaMenu()">Skills</a>
      <a href="#projects" (click)="showMediaMenu()">Projects</a>
      <a href="#contact" (click)="showMediaMenu()">Contact</a>
    </nav>
  </div>
</header>
