<header>
  <div class="headerForm">
    <img src="assets/img/Logo.png" alt="logo" />
    <nav class="desktop-links">
      <a class="fromleft" routerLink="/home">Home</a>
      <a routerLink="/about">About me</a>
      <a routerLink="/skills">Skills</a>
      <a routerLink="/projects">Projects</a>
      <a routerLink="/contact">Contact</a>
    </nav>
  </div>
  <div style="display: none;">
    <nav >
      <a routerLink="/home">Home</a>
      <a routerLink="/about">About me</a>
      <a routerLink="/skills">Skills</a>
      <a routerLink="/projects">Projects</a>
      <a routerLink="/contact">Contact</a>
    </nav>
  </div>
</header>
