header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: unset;
  background-color: #141d2f;
  padding: 0 10rem;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.headerForm {
  height: 6.25rem;
  width: 100.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1919px) {
    width: 80rem;
  }
}

.desktop-links {
  display: flex;
  align-items: center;
  justify-content: space-aorund;
  flex-direction: row;

  a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    margin-left: 3rem;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      transform: scaleX(0);
      border-bottom: 3px solid #ff4747;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: #fa7902;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    .fromleft:after {
      transform-origin: 0% 50%;
    }
  }
}
