header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: unset;
  background-color: #141D2F;
  padding: 0 10rem;
  z-index: 100;
}

.headerForm {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-links {
  display: flex;
  align-items: center;
  justify-content: space-aorund;
  flex-direction: row;

  a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    margin: 0 1.5rem;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      transform: scaleX(0);
      border-bottom: 3px solid #FF4747;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: #FA7902;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    .fromleft:after {
      transform-origin: 0% 50%;
    }

  }
}
