<header>
  <div class="headerForm">
    <img src="assets/img/Logo.png" alt="logo" />
    <nav class="desktop-links">
      <a class="fromleft" routerLink="/">Home</a>
      <a href="#aboutMe" >About me</a>
      <a href="#skills" >Skills</a>
      <a href="#projects" >Projects</a>
      <a href="#contact" >Contact</a>
    </nav>
  </div>
  <img (click)="showMediaMenu()" class="burger-menu" src="assets/img/burger-menu.png">
  <div class="mobile-menu" [ngClass]="{'showMediaMenu': !showMenu}">
    <nav class="mobile-links">
      <a routerLink="/">Home</a>
      <a href="#aboutMe">About me</a>
      <a href="#skills" >Skills</a>
      <a href="#projects" >Projects</a>
      <a href="#contact" >Contact</a>
    </nav>
  </div>
</header>
