$placeholder-left: 5rem;
$placeholder-right: 6rem;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: unset;
  background-color: #141D2F;
  padding: 0 5.5rem;
}

.headerForm {
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 400;
      font-size: 1.5rem;
      margin-left: 2rem;
      margin-left: 2rem;
      border-bottom: 3px solid transparent;

      &:hover {
        color: #FA7902;
        border-bottom: 3px solid #FF4747;
        transition: all .3s ease-in-out;

      }
    }
  }
}
