.container {
  display: flex;
  margin-bottom: 3.5rem;
  border-top: 4px solid #fa7902;
  padding-top: 3.5rem;
}

.container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.5rem;
  margin: 3.5rem auto;
}

@media screen and (max-width: 1919px) {
  .container .content {
    width: 80rem;
  }
}

@media screen and (max-width: 1439px) {
  .container .content {
    width: 52rem;
  }
}

.container .content .logo {
  width: 10.25rem;
  height: 5rem;
}

.container .content .logo img {
  margin-left: -1.25rem;
}

.container .content .logo a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}

.container .content .social-media img {
  width: 2rem;
  height: 2rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
