.container {
  display: flex;
  margin-bottom: 3.5rem;
  border-top: 4px solid #fa7902;
  padding-top: 3.5rem;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.5rem;
    margin: 3.5rem auto;

    @media screen and (max-width: 1919px) {
      width: 80rem;
    }

    @media screen and (max-width: 1439px) {
      width: 52rem;
    }

    .logo {
      width: 10.25rem;
      height: 5rem;

      img {
        margin-left: -1.25rem;

      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
      }
    }

    .social-media {

      img {
        width: 2rem;
        height: 2rem;
        margin-left: 1.5rem;
        cursor: pointer;
      }
    }

  }
}
