<div class="container">
  <div class="content">
    <div class="logo">
      <img src="assets/img/Logo.png" />
      <a routerLink="/imprint">Imprint/ Data protection</a>
    </div>
    <div>
      <span>&copy; Tony Schiller 2023</span>
    </div>
    <div class="social-media">
      <a href="https://github.com/tonyS912" target="_blank"><img src="assets/img/github-icon.svg" /></a>
      <a href="mailto:info@tony-schiller.com" target="_blank"><img src="assets/img/mail-icon.svg" /></a>
      <a href="https://www.linkedin.com/in/tony-schiller-0995aa202/" target="_blank"><img src="assets/img/linkedin-icon.svg" /></a>
    </div>
  </div>
</div>
