.cover-red {
  position: absolute;
  z-index: 2;
  right: 0;
  top: -20rem;
}

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97.5rem;
  margin: 0 auto;

  @media screen and (max-width: 1919px) {
    width: 80rem;
  }

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
}

.about-me {
  h2 {
    font-size: 90px !important;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 1439px) {
    display: flex;
    justify-content: center;
  }
}

.about-me-text {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;

  @media screen and (max-width: 1919px) {
    width: 50rem;
  }
}

.conviction {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-left: 0.5rem;
    margin-right: 2rem;
    width: 55px;
  }
}

.souvenirs {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;

  img {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
  }
}

.portrait {
  border: 3px solid #fa7902;
  border-radius: 50%;
}

.right-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1439px) {
    display: none;
  }
}
