<img class="cover-red" src="assets/img/Red_1.svg" />

<div class="container">
  <div class="left-box">
    <div class="about-me">
      <h2>About me</h2>
    </div>
    <div class="about-me-text">
      <p>
        since my first Raspberry Pi, I am interested in programming and what you
        can do with it. <br />
        The sheer endless possibilities to create something new are just
        great.<br />
        Whether it's a big project or a small temporary solution, everything is
        possible.<br />
        The only limit is the one you build yourself.
      </p>
      <div class="conviction">
        <img src="assets/img/orange-lamp.svg" />
        <p>
          as in construction, programming requires analytical and logical<br>
          thinking and looking over the plate edge
        </p>
      </div>
      <div class="souvenirs">
        <img src="assets/img/orange-puzzle.png" />
        <p>
          At the same time I can use my interest from the CAD area and my<br>
          creativity to the fullest extent
        </p>
      </div>
    </div>

    <div>
      <img src="" />
      <!-- <hr> -->
    </div>
  </div>
  <div class="right-box">
    <img class="portrait" src="assets/img/tony362-portrait.png" />
    <div class="horizontal-line"></div>
  </div>
</div>
