.cover-red {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 80%;
}

.container {
  position: absolute;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.about-me h2 {
  font-size: 90px !important;
  margin-bottom: 2rem;
}

.about-me-text {
  display: flex;
  flex-direction: column;
}

.conviction {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.conviction img {
  margin-left: 0.5rem;
  margin-right: 2rem;
}

.souvenirs {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.souvenirs img {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portrait {
  border: 3px solid #FA7902;
  border-radius: 50%;
}

.left-box {
  margin-left: 11.25rem;
}

.right-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right-box .horizontal-line {
  height: 3px;
  width: 11.5rem;
  background-color: #FA7902;
}
