.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 118px;

  @media screen and (max-width: 1439px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 992px) {
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 97.5rem;
  margin: 3.5rem auto;

  @media screen and (max-width: 1919px) {
    width: 80rem;
  }

  @media screen and (max-width: 1439px) {
    width: fit-content;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }

  h2 {
    font-size: 90px;
    margin: 0;

    @media screen and (max-width: 768px) {
      font-size: 60px;
    }
  }

  .line {
    height: 4px;
    width: calc(100vw / 2 - 17rem);
    background-color: #ff4747;
    position: absolute;
    top: 91.25rem;
    left: 0;
    margin-right: 3rem;

    @media screen and (max-width: 1919px) {
      top: 95rem;
    }

    @media screen and (max-width: 1439px) {
      top: 117rem;
    }

    @media screen and (max-width: 992px) {
      top: 126rem;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .line-small {
    width: 8rem;
    height: 4px;
    background-color: #ff4747;
    margin-left: 5rem;
  }
}

.description {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 5rem;

  @media screen and (max-width: 992px) {
    width: 30rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 18px;
    width: 300px;
  }
}

.project1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  margin-left: 11.25rem;
  margin-right: 11.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 1439px) {
    height: 100%;
  }

  h3 {
    font-size: 2rem;
    color: #ff4747;
  }

  span {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fa7902;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    width: 40rem;
    font-size: 1.5rem;
    font-weight: 300;

    @media screen and (max-width: 992px) {
      width: 30rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      width: 300px;
    }
  }

  img {
    width: 640px;
    margin-left: 46px;

    @media screen and (max-width: 1439px) {
      margin: 0;
    }

    @media screen and (max-width: 992px) {
      transform: scale(0.9);
    }

    @media screen and (max-width: 768px) {
      width: 300px;
    }
  }

  .btn-live {
    width: 10rem;
    height: 3.5rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-right: 4rem;
    cursor: pointer;

    &:hover {
      background-color: #fa7902;
      transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
      margin-right: 1rem;
      width: 8rem;
    }
  }

  .btn-git {
    width: 10rem;
    height: 3.5rem;
    background-color: #141d2f;
    color: white;
    border: 1px solid #fa7902;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-right: 4rem;
    cursor: pointer;

    &:hover {
      background-color: #fa7902;
      transform: scale(1.1);
    }

    @media screen and (max-width: 1439px) {
      margin-right: 1.5rem;
    }

    @media screen and (max-width: 768px) {
      margin-right: 0;
      width: 8rem;
    }
  }
}

.project2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  margin-left: 11.25rem;
  margin-right: 11.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 1439px) {
    height: 100%;
  }

  h3 {
    font-size: 2rem;
    color: #ff4747;
    text-align: end;
  }

  span {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fa7902;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  p {
    width: 40rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: end;

    @media screen and (max-width: 992px) {
      width: 30rem;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
      width: 300px;
    }
  }

  img {
    width: 640px;
    margin-right: 46px;

    @media screen and (max-width: 1439px) {
      margin: 0;
    }

    @media screen and (max-width: 992px) {
      transform: scale(0.9);
    }

    @media screen and (max-width: 768px) {
      width: 300px;
    }
  }

  .btn {
    display: flex;
    flex-direction: row-reverse;
  }

  .btn-live {
    width: 10rem;
    height: 3.5rem;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-left: 4rem;
    cursor: pointer;

    &:hover {
      background-color: #fa7902;
      transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {
      margin-left: 1rem;
      width: 8rem;
    }
  }

  .btn-git {
    width: 10rem;
    height: 3.5rem;
    background-color: #141d2f;
    color: white;
    border: 1px solid #fa7902;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-left: 4rem;
    cursor: pointer;

    &:hover {
      background-color: #fa7902;
      transform: scale(1.1);
    }

    @media screen and (max-width: 1439px) {
      margin-left: -1rem;
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
      width: 8rem;
    }
  }
}

.resp-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 101.5rem;

  @media screen and (max-width: 1919px) {
    width: 84.5rem;
  }

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    width: fit-content;
  }

  @media screen and (max-width: 768px) {
    width: 300px;
  }
}

.view1440 {
  @media screen and (max-width: 1439px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
    text-align: center;
  }
}
