<div class="container">
  <div class="heading">
    <div class="line"></div>
    <h2>Projects</h2>
  </div>
  <p class="description">
    This page is a sample of my work - please feel free to try them out.
  </p>
  <div>
    <div class="project1 resp-box">
      <img src="assets/img/Pokedex.svg" />
      <div>
        <h3>Pokedéx</h3>
        <span>HTML | CSS | JavaScript | Api</span>
        <p>
          Based on the PokéAPI a simple library that provides and catalogues
          pokemon information.
        </p>
        <div class="btn">
          <button class="btn-live">Live test</button>
          <button class="btn-git">Github</button>
        </div>
      </div>
    </div>
    <div class="project2 resp-box">
      <img src="assets/img/Pokedex.svg" />
      <div>
        <h3>Join</h3>
        <span>HTML | CSS | JavaScript </span>
        <p>
          Task manager inspired by the Kanban System. Create and organize tasks
          using drag and drop functions, assign users and categories.
        </p>
        <div class="btn">
          <button class="btn-live">Live test</button>
          <button class="btn-git">Github</button>
        </div>
      </div>
    </div>
    <div class="project1 resp-box">
      <img src="assets/img/Pokedex.svg" />
      <div>
        <h3>Sharky</h3>
        <span>HTML | CSS | JavaScript | OOP</span>
        <p>
          A simple Jump-and-Run game based on an object-oriented approach. Help
          sharkie to find coins and poison bottles to fight against the killer
          whale.
        </p>
        <div class="btn">
          <button class="btn-live">Live test</button>
          <button class="btn-git">Github</button>
        </div>
      </div>
    </div>
    <div class="project2 resp-box">
      <img src="assets/img/Pokedex.svg" />
      <div>
        <h3>Simple CRM</h3>
        <span>Angular | Firebase</span>
        <p>
          A very Simple Customer Relationship Management system working with
          CRUD functionality.
        </p>
        <div class="btn">
          <button class="btn-live">Live test</button>
          <button class="btn-git">Github</button>
        </div>
      </div>
    </div>
    <div class="project1 resp-box">
      <img src="assets/img/Pokedex.svg" />
      <div>
        <h3>Portfolio</h3>
        <span>Angular | TypeScript | SCSS</span>
        <p>
          My personal Portfolio was my first angular project. While working on
          other projects, this project grew and was constantly improved.
        </p>
        <div class="btn">
          <button class="btn-live">Live test</button>
          <button class="btn-git">Github</button>
        </div>
      </div>
    </div>
  </div>
</div>
