<div class="container">
  <div class="heading">
    <h2>Contact</h2>
    <div class="line"></div>
  </div>
  <div class="content">
    <div>
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <br />
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="contact-area">
      <form>
        <div>
          <input type="text" id="name" name="name" placeholder="Your name"/>
          <span style="color: transparent">Your name is required!</span>
        </div>
        <div>
          <input type="email" id="email" name="email" placeholder="Your email" />
          <span style="color: transparent">Your email is required!</span>
        </div>
        <div>
          <textarea id="message" name="message" placeholder="Your message"></textarea>
          <span style="color: transparent">Your message is required!</span>
        </div>
        <div>
          <button type="submit">Send Message :)</button>
        </div>
      </form>
    </div>
  </div>
</div>
