<div class="container">
  <div class="heading">
    <h2 id="contact">Contact</h2>
    <div class="line"></div>
  </div>
  <div class="content">
    <div class="view480">
      <h3>Got a problem to solve?</h3>
      <p>
        Contact me through this form, I am interested in hearing you, knowing
        your ideas and contributing to your projects with my work.
      </p>
      <br />
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <div class="contact-area">
      <form (ngSubmit)="sendMail()" [formGroup]="contact">
        <div>
          <input type="text" id="name" name="name" placeholder="Your name" formControlName="name">
          <span style="color: transparent">Your name is required!</span>
        </div>
        <div>
          <input type="email" id="email" name="email" placeholder="Your email"  formControlName="mail">
          <span style="color: transparent">Your email is required!</span>
        </div>
        <div>
          <textarea id="message" name="message" placeholder="Your message with min 10 Signs"  formControlName="message"></textarea>
          <span style="color: transparent">Your message is required!</span>
        </div>
        <div>
          <button (click)="userMessage()" type="submit" [disabled]="!contact.valid" [ngClass]="{'btn-active' : this.contact.valid}" >Send Message :)</button>
          <div [ngClass]="{'hide-message': hideMessage, 'show-message': !hideMessage}" >Your message was sent</div>
        </div>
      </form>
    </div>
  </div>
</div>
