.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-bottom: 11.5rem;


}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 97.5rem;
  margin: 3.5rem auto;
  justify-content: flex-end;

  @media screen and (max-width: 1919px) {
    width: 80rem;
  }

  @media screen and (max-width: 1439px) {
    justify-content: center;
    margin-top: 6rem;
    width: fit-content;
  }

  h2 {
    font-size: 90px !important;
    margin: 0;
  }

  .line {
    height: 4px;
    width: calc((100% - 1750px) / 2);
    background-color: #ff4747;
    position: absolute;
    top: 261.5rem;
    right: 0;
    margin-left: 3rem;

    @media screen and (max-width: 1919px) {
      top: 265rem;
      width: calc((100% - 1400px) / 2);
    }

    @media screen and (max-width: 1439px) {
      top: 410rem;
      width: calc((100% - 450px) / 2);
    }
  }
}

.content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 97.5rem;

  @media screen and (max-width: 1919px) {
    width: 79rem;
  }

  @media screen and (max-width: 1439px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
  }

  h3 {
    font-size: 32px;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 300;
    width: 45rem;
    margin-bottom: 2rem;

    @media screen and (max-width: 1919px) {
      width: 30rem;
    }
  }
}

.contact-area {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    color: #e61c40;
    font-weight: 300;
    font-size: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 38.75rem;
    max-width: 38.75rem;
    min-width: 18rem;
    height: 2.5rem;
    border: 1px solid #ff4747;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 1rem;
    margin-bottom: 0.25rem;
    color: white;
    font-size: 1.35rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;

    &::placeholder {
      color: lightgray;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #70E61C;

      &:hover {
        border: 1px solid #70E61C;
      }
    }

    &:hover {
      border: 1px solid #d61ce6;
    }
  }

  textarea {
    max-width: 38.75rem;
    min-width: 18rem;
    width: 38.75rem;
    max-height: 20rem;
    height: 12.5rem;
    margin-bottom: 0.25rem;
    border: 1px solid #ff4747;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 1rem;
    color: white;
    font-size: 1.35rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-top: 1rem;

    &::placeholder {
      color: lightgray;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #70E61C;

      &:hover {
        border: 1px solid #70E61C;
      }
    }

    &:hover {
      border: 1px solid #d61ce6;
    }

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #fa7902a7;
      border-radius: 10px;

      &:hover {
        background: #fa7902;
      }
    }
  }

  button {
    width: 15.75rem;
    height: 3.625rem;
    border-radius: 10px;
    background-color: #fa7902;
    border: unset;
    outline: unset;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;

    &:hover {
      background-color: #ff4747;
      transform: scale(1.1);
    }
  }
}

.d-none {
  display: none;
}
