.container {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
  justify-content: space-between;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30rem;
}

.skills p {
  font-weight: 300;
}

.line-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-right: 8rem;
}

@media screen and (max-width: 1439px) {
  .line-items {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .line-items {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    height: 25rem;
  }
}

.line-item2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18.6rem;
  margin-right: 8rem;
}

@media screen and (max-width: 1439px) {
  .line-item2 {
    margin-right: 4rem;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .line-item2 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    height: 15.6rem;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 42.5rem;
}

@media screen and (max-width: 1439px) {
  .right-box {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 992px) {
  .right-box {
    width: 30rem;
  }
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.my-skills h2 {
  font-size: 90px !important;
  margin-bottom: 2rem;
  width: 100%;
  text-align: end;
}

@media screen and (max-width: 1439px) {
  .my-skills h2 {
    text-align: center;
    margin-top: 0;
  }
}

.my-skills p {
  text-align: end;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

@media screen and (max-width: 1439px) {
  .my-skills p {
    text-align: center;
  }
}

.my-skills button {
  margin-left: 5.75rem;
  width: 12rem;
  height: 3.5rem;
  border: 1px solid #fa7902;
  border-radius: 0.5rem;
  background-color: #fa7902;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.my-skills button:hover {
  background-color: #ff4747;
  transform: scale(1.1);
}

@media screen and (max-width: 1439px) {
  .my-skills button {
    margin: 0;
  }
}

.cut-line {
  height: 4px;
  width: calc((100% - 1750px) / 2);
  background-color: #ff4747;
  position: absolute;
  top: 58rem;
  right: 0;
  margin-left: 3rem;
}

@media screen and (max-width: 1919px) {
  .cut-line {
    width: calc((100% - 1400px) / 2);
    top: 60.5rem;
  }
}

@media screen and (max-width: 1439px) {
  .cut-line {
    width: calc((100% - 491px) / 2);
    top: 54rem;
  }
}

@media screen and (max-width: 992px) {
  .cut-line {
    top: 61rem;
  }
}

.left-bg {
  position: absolute;
  left: 0;
  top: 52rem;
  z-index: -1;
}

.resp-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 97.5rem;
}

@media screen and (max-width: 1919px) {
  .resp-box {
    width: 80rem;
  }
}

@media screen and (max-width: 1439px) {
  .resp-box {
    flex-direction: column-reverse;
  }
}
