<div class="home" id="startscreen">
  <div>
    <img class="bg" src="assets/img/imgBG.svg" />
  </div>

  <div class="d-flex first">
    <img class="person" src="assets/img/tony077-PhotoRoom.png" />
    <div class="amI">I am</div>
    <div class="description">
      <div class="name">
        <h1>Tony Schiller</h1>
      </div>
      <div class="job">
        <h3>FRONTEND DEVELOPER</h3>
      </div>
      <a class="main-btn" href="#contact">Let's talk!</a>
    </div>
  </div>
  <img class="wave" src="assets/img/wave.svg" />
  <div class="info-links">
    <div class="line"></div>
    <div class="social-media-home">
      <a href="https://github.com/tonyS912" target="_blank"><img src="assets/img/github-icon.svg" /></a>
      <!-- <a ><img src="assets/img/mail-icon.svg" /></a> -->
      <a href="https://www.linkedin.com/in/tony-schiller-0995aa202/" target="_blank"><img src="assets/img/linkedin-icon.svg" /></a>
    </div>
    <a class="mail-home" href="mailto:info@tony-schiller.com">info@tony-schiller.com</a>
  </div>
</div>
