/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #141D2F;
  margin: 0;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;

  }

  &::-webkit-scrollbar-thumb {
    background: #fa7a02a7;
    border-radius: 10px;

    &:hover {
      background: #fa7a02;
    }
  }
}


